<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
<style type="text/css">
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
/*
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
*/
</style>
</head>
<body>
		<div layout:fragment="maincontent">
			<br><br>
			<div class="container" align="center">
				<img src="/assets/img/logo.png" width="200"><br><br>
				<div class="col-md-6">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" name="nama" id="nama" placeholder="Masukkan Nama">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="alamat" id="alamat" placeholder="Masukkan Alamat">
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary btn-block">Simpan</button>
						</div>
					</form>
				</div>
			</div>
			<div class="container" align="center">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nama</th>
							<th>Alamat</th>
						</tr>
					</thead>
					<tbody id="tbodyBiodata">
					</tbody>
				</table>
			</div>
		</div>
		<script layout:fragment="bottom-script" th:src="@{/assets/scripts/index.js}"></script>
</body>
</html>